<div
  class="background"
  [style.backgroundImage]="
    'url(https://assets.nflxext.com/ffe/siteui/vlv3/7ca5b7c7-20aa-42a8-a278-f801b0d65fa1/406151c6-b258-4933-8bc2-2a8f92831d47/RS-en-20240326-popsignuptwoweeks-perspective_alpha_website_large.jpg)'
  "
></div>

<div class="container">
  <select
    class="date-filter"
    [(ngModel)]="selectedDate"
    (change)="filterMovies()"
  >
    <option class="filter-option" value="">All Dates</option>
    <option
      class="filter-option"
      *ngFor="let date of dateOptions"
      [value]="date"
    >
      {{ date }}
    </option>
    <img class="down-arrow" src="assets/down-arrow.png" alt="Down Arrow" />
  </select>

  <select
    [(ngModel)]="selectedGenre"
    (change)="filterMovies()"
    class="date-filter"
  >
    <option class="filter-option" value="">All Genres</option>
    <option class="filter-option" *ngFor="let genre of genres" [value]="genre">
      {{ genre }}
    </option>
  </select>

  <div class="movie-list">
    <div *ngFor="let movie of filteredMovies" class="movie-item">
      <div class="movie-card">
        <img [src]="movie.image" alt="{{ movie.title }}" />
        <div class="movie-details">
          <h2 class="movie-title">{{ movie.title }} ({{ movie.year }})</h2>
          <div class="movie-info">
            <i class="fa fa-star"></i> {{ movie.rating }} |
            {{ shortenNum(movie.numVotes) }} votes
          </div>
          <div class="movie-info">{{ movie.duration }} min</div>
          <button class="get-tickets-btn" (click)="goToMovieDetails(movie.id)">
            GET TICKETS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
