<div class="container">
  <div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-item">
      <div class="movie-card">
        <img [src]="movie.image" alt="{{ movie.title }}" />
        <div class="movie-details">
          <h2 class="movie-title">{{ movie.title }} ({{ movie.year }})</h2>
          <div class="movie-info">
            <i class="fa fa-star"></i> {{ movie.rating }} |
            {{ shortenNum(movie.numVotes) }} votes
          </div>
          <div class="movie-info">{{ movie.duration }} min</div>
          <button class="get-tickets-btn" (click)="goToMovieDetails(movie.id)">
            GET TICKETS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
