<div class="login-container">
  <img
    src="https://assets.nflxext.com/ffe/siteui/login/images/Netflix_Logo_RGB.png"
    alt="Netflix Logo"
    class="netflix-logo"
  />
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input
        matInput
        formControlName="username"
        type="text"
        placeholder="Email or phone number"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign In</button>
  </form>
  <div class="signup-link">
    New to Netflix? <a routerLink="/register">Sign up now.</a>
  </div>
</div>
