<nav class="navbar">
  <div class="left-part">
    <a href="#" class="logo">IIS Cinema</a>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/movie-list">Movies</a></li>
      <li><a *ngIf="user?.id !== 0" routerLink="/myTickets">My Tickets</a></li>
    </ul>
  </div>
  <div class="icons">
    <ng-container *ngIf="user?.id !== 0; else loginRegister">
      <i class="material-icons">notifications</i>
      <i class="material-icons" (click)="onEditProfile()">account_circle</i>
      <span class="welcome">Welcome, {{ user?.firstName }}</span>
      <button class="login-btn" (click)="onLogout()">Logout</button>
    </ng-container>
    <ng-template #loginRegister>
      <ul class="nav-links">
        <li><a class="login-btn" routerLink="/login">Sign In</a></li>
      </ul>
    </ng-template>
  </div>
</nav>