.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(6, 6, 6, 0.92), rgba(18, 18, 18, 0.92));
  color: #fff;
  padding: 20px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-part {
  display: flex;
  gap: 2rem;
  margin-left: 190px;
}

.logo {
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #e50914;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  letter-spacing: -1px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #e50914;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 190px;
}

.icons i {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 20px;
}

.icons i:hover {
  color: #e50914;
}

.welcome {
  color: #fff;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 600;
  margin-left: 8px;
}

.login-btn {
  background-color: #e50914;
  border: 1px solid #e50914;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-left: 24px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ff3d00;
  transition: all 0.3s ease;
}

.nav-links li .login-btn:hover {
  color: white;
  transition: all 0.3s ease;
}
